@import 'base.css';

*{
	margin: 0px;
	padding: 0px;
}

#floater{
	float: left;
	height: 50%;
	margin-bottom: -384px;
	width: 1px;
}

.slides{
	margin: 0px auto;
	width: 1024px;
	position: relative;
	clear: left;
	height: 768px;
}


.slide{
	display: block;
	width: 1024px; 
	height: 768px;
	background-color: #FFF;
	position: absolute;
	-webkit-border-radius: 4px;
}

ul li:before{
	content: '\00B7';
	margin-left: '-1em';
	position: absolute;
	font-weight: 600;
}

.slides > .slide ul{
	margin-left: 1.2em;
	margin-bottom: 1.2em;
	list-style: none;
}