<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=1024, user-scalable=no">
		<title><%= packageFile.name %> v<%= packageFile.version %></title>
		<link rel="stylesheet" href="<%= config.presentation.theme_directory + "/" + config.presentation.theme %>/style.css" />
		<link rel="stylesheet" href="/css/slides.css">
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<div class="overlay" style="background-color: #000; width: 100%; height: 100%; z-index: 2000; position: absolute; margin: 0px; left: 0px; top: 0px; display: none"></div>
		<%| parsedSlides slide %>
			<section class="slide">
				<%= slide %>
			</section>
		<%|%>
		<p class="deck-status"><%= packageFile.name %> v<%= packageFile.version %></p>
		<script>
			$(function() {
				$.deck.defaults.keys.next = [];
				$.deck.defaults.keys.previous = [];
				$.deck('.slide');
			});
			var socket = io.connect();
			socket.on('state', function(state) {
				if(state.blackout){
					$('.overlay').fadeIn('slow');
				}
				else{
					$('.overlay').fadeOut('slow');
					$.deck('go', state.currentSlide);
				}
			});
			socket.on('debug', function(data){
				console.log(data);
			});
		</script>
	</body>
</html>